@import '../../Theme.css';

.product-card {
  position: relative;
  border: 1px solid #ddd;
  padding: 0;
  text-align: center;
  transition: transform 0.3s;
  min-width: 300px;
  margin: var(--spacing-sm);
  overflow: hidden;
}

.product-card:hover {
  transform: scale(1.02);
}

.product-image {
  width: 100%;
  max-width: 300px;
  object-fit: cover;
  margin: 0 auto;
  padding: 0;
}

.icon-container {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.product-card:hover .icon-container {
  opacity: 1;
}

.icon {
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--color-white);
  font-size: var(--font-size-sm);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
}

.icon:hover {
  background-color: #000000;
}
