.products-container {
  max-width : 1200px;
  margin    : 0 auto;
  padding   : 20px;
  text-align: center;
}

.product-name {
  font-size    : 2rem;
  margin-bottom: 20px;
}

.products-grid {
  display              : grid;
  grid-template-columns: repeat(4, 1fr);
  gap                  : 20px;
  margin-top           : 20px;
}

.product-card {
  border       : 1px solid #ddd;
  padding      : 0;
  text-align   : center;
  transition   : transform 0.3s;
  min-width    : 300px;
  margin       : 20px;
}

.product-card:hover {
  transform: scale(1.02);
}

.product-image {
  width        : 100%;
  max-width    : 300px;
  object-fit   : cover;
  margin       : 0 auto;
  padding      : 0;
}


.product-name {
  font-size : 1.2rem;
  margin-top: 10px;
}

.product-price {
  font-size  : 1rem;
  margin-top : 10px;
  font-weight: bold;
  color      : #28a745;
}

.product-price.sold-out {
  color      : #dc3545;
  font-weight: normal;
}