@import '../../../src/Theme.css';

.product-grid {
  display              : grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap                  : 50px;
  padding               : var(--spacing-lg);
}

#light .product-grid{
  background-color: var(--color-white);
}

#dark .product-grid{
  background-color: var(--color-black);
}


.product-item {
  display        : flex;
  justify-content: center;
  align-items    : center;
  overflow       : hidden;
}