@import "../../Theme.css";

.container {
  height: 100vh;
  width: 100vw;
}

#light .container{
  background-color: var(--color-white);
}

#dark .container{
  background-color: var(--color-black);
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/signUpImage.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media (max-width: 960px) {
  .container {
    flex-direction: column;
  }

  .left {
    display: none; 
  }

  .right {
    width: 100%;
    padding: 20px;
  }
}