.favorites-page{
    padding         : 20px;
    font-family     : var(--font-family);
    background-color: var(--color-white);
    min-height      : 90vh;
}

.favorites-page H1{
    font-family: var(--font-family);
    font-size: var(--font-size-xxl);
    color: var(--color-black);
    font-weight: bold;
    margin-bottom: var(--spacing-md);
}