@import '../../Theme.css';

.nav-bar {
  background-color: var(--color-white);
  padding: var(--spacing-xs);
  border-bottom: 0.3px solid black;
  height: 10vh;
}

#dark .nav-bar {
  background-color: var(--color-black);
  border-bottom: 0.3px solid gray;
}

#light .nav-bar {
  background-color: var(--color-white);
  border-bottom: 0.3px solid black;
}

.logo {
  font-family: var(--font-family);
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-weight: normal;
  margin: 0%;
  cursor: pointer;
}

#dark .logo {
  color: var(--color-white);
}

#light .logo {
  color: var(--color-black);
}

.nav-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 768px) {
  .logo {
    display: none;
  }

  .nav-bar {
    padding: var(--spacing-sm);
  }

  .nav-bar .MuiButton-root {
    font-size: 12px;
  }

  .MuiButton-root {
    padding: 8px;
  }

  .MuiBox-root {
    flex-direction: row;
  }

  .footer-icons {
    font-size: 18px;
  }

  .nav-btn {
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .logo {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: white;
    width: 100%;
    padding: 10px 0;
    z-index: 10;
  }
}
