@import '../../Theme.css';

.footer {
  width: 94vw;
  padding: var(--spacing-xxl);
  background-color: var(--color-black);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-left,
.footer-right {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: var(--spacing-md);
}

.footer-left {
  margin-right: 2%;
}

.footer-right {
  border-left: 0.5px solid white;
  height: 350px;
  padding-left: var(--spacing-md);
}

.footer .footer-left h1 {
  font-family: var(--font-family);
  font-size: var(--font-size-xxl);
  color: var(--color-white);
  font-weight: bold;
  margin: 0;
}

.footer .footer-left p {
  font-family: var(--font-family);
  font-size: var(--font-size-sm);
  color: var(--color-white);
  line-height: var(--spacing-lg);
  margin: 20px 0;
  width: 90%;
  text-align: justify;
}

.footer .footer-right h4 {
  font-family: var(--font-family);
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-weight: normal;
  margin: 20px 0 10px;
}

.social-media-icon-group {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.footer-icons {
  color: #ffffff;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.footer-icons:hover {
  background-color: #555;
}

.payment-method-icon-group {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.payment-method-image {
  height: 40px;
  transition: transform 0.3s ease-in-out;
}

.payment-method-image:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 14px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-right {
    border-left: none;
    padding-left: 20px;
  }
  .footer-left,
  .footer-right {
    width: 90%;
    text-align: center;
    margin-bottom: 20px;
  }

  .footer .footer-left p {
    width: 100%;
  }

  .social-media-icon-group,
  .payment-method-icon-group {
    width: 100%;
    justify-content: center;
  }

  .footer-icons {
    padding: 8px;
  }

  .payment-method-image {
    height: 30px;
  }
}
